@import './SolarSystemNodeTheme.module.scss';

/* Override .statics font-size from 8px → 10px. */
.statics {
  margin-top: -2px;
  font-size: 10px;
}

/* In SolarSystemNodeZoo.module.scss */
.wormholeContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* Optional: adjust spacing between the statics and the effect */
}



.BottomRow {

  .TagTitle {
    font-size: 11px;
    font-weight: medium;

    color: var(--rf-tag-color, #38BDF8);
  }

  .hasLocalCounter {
    margin-right: 0.75rem;
    // Add an extra 0.25rem if count > 9
    &.countAbove9 {
      margin-right: 1.0rem;
    }
  }
}
