@import './SolarSystemNodeTheme.module.scss';

/* Override .statics font-size from 8px → 10px. */
.statics {
  font-size: 10px;
}


.BottomRow {
  
  .TagTitle {
    font-size: 11px;
    font-weight: medium;

    color: var(--rf-tag-color, #38BDF8);
  }
}
