.TableRowCompact {
  height: 8px;
  max-height: 8px;
  font-size: 12px !important;
  line-height: 8px;
}

.Table {

}

.flashPending {
  animation: flashRedBlack 1s infinite;
}

@keyframes flashRedBlack {
  0% {
    background-color: red;
  }
  50% {
    background-color: black;
  }
  100% {
    background-color: red;
  }
}
