.TableRowCompact {
  height: 8px;
  max-height: 8px;
  font-size: 12px !important;
  line-height: 8px;
}

.Table {

}

.flashPending {
  animation: flashRedRed 1s infinite;
}

@keyframes flashRedRed {
  0% {
    background-color: #f87171; /* lighter red */
  }
  50% {
    background-color: #ef4444; /* slightly darker red */
  }
  100% {
    background-color: #f87171; /* back to lighter red */
  }
}
