@import './pathfinder-theme.scss';

.zoo-theme {
  @extend .pathfinder-theme;
  --rf-bg-gap: 34;
  --rf-snap-sizeX: 34;
  --rf-snap-sizeY: 17;
  --rf-has-user-characters: #5cb85c;

  /* Zoo Effect Color Classes */
  .eve-zoo-effect-color-has-eol {
    fill: #FF69B4;             // Pinker EOL
    background-color: #FF69B4;
  }

  .eve-zoo-effect-color-unsplashed {
    fill: #CCCCCC;
    background-color: #CCCCCC;
  }

  .eve-zoo-effect-color-has-gas {
    fill: #FFFDD0;             // Creamier Cloud
    background-color: #FFFDD0;
  }

  .eve-zoo-effect-color-is-critical {
    fill: #8B0000;             // Crit Dark Red
    background-color: #8B0000;
  }

  .eve-zoo-effect-color-is-dead-end {
    fill: #34495E;
    background-color: #34495E;
  }

  /* Zoo Text Color Classes */
  .text-eve-zoo-effect-color-has-eol {
    color: #FF69B4;
  }

  .text-eve-zoo-effect-color-unsplashed {
    color: #CCCCCC;
  }

  .text-eve-zoo-effect-color-has-gas {
    color: #FFFDD0;
  }

  .text-eve-zoo-effect-color-is-critical {
    color: #8B0000;
  }

  .text-eve-zoo-effect-color-is-dead-end {
    color: #34495E;
  }
}
