@import './pathfinder-theme.scss';

.zoo-theme {
  @extend .pathfinder-theme;
  --rf-bg-gap: 34;
  --rf-snap-sizeX: 238;
  --rf-snap-sizeY: 51;
  --rf-has-user-characters: #5cb85c;

  .eve-zoo-effect-color-has-eol {
    fill: #FF69B4;             // Pinker EOL
    background-color: #FF69B4;
  }

  .eve-zoo-effect-color-unsplashed {
    fill: #2C3E50;
    background-color: #2C3E50;
  }

  .eve-zoo-effect-color-has-gas {
    fill: #FFFDD0;             // Creamier Cloud
    background-color: #FFFDD0;
  }

  .eve-zoo-effect-color-is-critical {
    fill: #8B0000;             // Crit Dark Red
    background-color: #8B0000;
  }

  .eve-zoo-effect-color-is-dead-end {
    fill: #34495E;
    background-color: #34495E;
  }

  .eve-zoo-effect-color-flygd {
    fill: #F0F0F0;
    background-color: #F0F0F0;
  }

  .eve-zoo-effect-color-wormhole {
    fill: #FFFFE0;
    background-color: #FFFFE0;
  }

  .eve-zoo-effect-color-wormhole-magic {
    fill: #9B59B6;
    background-color: #9B59B6;
  }

  .eve-zoo-effect-color-wormhole-infinity {
    fill: #3498DB;
    background-color: #3498DB;
  }

  .eve-zoo-effect-color-wormhole-planet {
    fill: #27AE60;
    background-color: #27AE60;
  }

  .eve-zoo-effect-color-wormhole-loop {
    fill: #E74C3C;
    background-color: #E74C3C;
  }

  /* Zoo Text Color Classes */
  .text-eve-zoo-effect-color-has-eol {
    color: #FF69B4;
  }

  .text-eve-zoo-effect-color-unsplashed {
    color: #CCCCCC;
  }

  .text-eve-zoo-effect-color-has-gas {
    color: #FFFDD0;
  }

  .text-eve-zoo-effect-color-is-critical {
    color: #8B0000;
  }

  .text-eve-zoo-effect-color-is-dead-end {
    color: #34495E;
  }

  .text-eve-zoo-effect-color-wormhole-magic {
    color: #9B59B6;
  }

  .text-eve-zoo-effect-color-wormhole-infinity {
    color: #3498DB;
  }

  .text-eve-zoo-effect-color-wormhole-planet {
    color: #27AE60;
  }

  .text-eve-zoo-effect-color-wormhole-loop {
    color: #E74C3C;
  }
}
